# Lighthouse Configuration
LIGHTHOUSE_API_KEY=

# LiveStore Configuration
VITE_LIVESTORE_SYNC_URL=http://localhost:8787

VITE_LIVESTORE_STORE_ID=demo1

# jwt secret for api
GEIST_JWT_SECRET=


VITE_HOST=

CF_DOMAIN=http://localhost:4002/
